<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MVC Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body><!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/login">
        <img src="https://avatars.githubusercontent.com/u/83007122?s=400&u=fb092cb72da118d6ea98c86f6eca1c87ce0fbb9a&v=4" width="80" height="80" style="border-radius: 100px;" alt="">
    </a>
</nav>